/.vs/LocalChow.Api/v16/.suo
/LocalChow.Entities/bin/Debug/netcoreapp3.1/LocalChow.Domain.dll
/LocalChow.Entities/bin/Debug/netcoreapp3.1/LocalChow.Domain.pdb
/LocalChow.Entities/obj/Debug/netcoreapp3.1/LocalChow.Domain.csproj.CoreCompileInputs.cache
/LocalChow.Entities/obj/Debug/netcoreapp3.1/LocalChow.Domain.csprojAssemblyReference.cache
/LocalChow.Entities/obj/Debug/netcoreapp3.1/LocalChow.Domain.dll
/LocalChow.Entities/obj/Debug/netcoreapp3.1/LocalChow.Domain.pdb
/LocalChow.Api/bin/Debug/netcoreapp3.1/LocalChow.Api.deps.json
/LocalChow.Api/bin/Debug/netcoreapp3.1/LocalChow.Api.dll
/LocalChow.Api/bin/Debug/netcoreapp3.1/LocalChow.Api.pdb
/LocalChow.Api/bin/Debug/netcoreapp3.1/LocalChow.Domain.dll
/LocalChow.Api/bin/Debug/netcoreapp3.1/LocalChow.Domain.pdb
/LocalChow.Api/obj/Debug/netcoreapp3.1/LocalChow.Api.MvcApplicationPartsAssemblyInfo.cs
/LocalChow.Api/obj/Debug/netcoreapp3.1/LocalChow.Api.assets.cache
/LocalChow.Api/obj/Debug/netcoreapp3.1/LocalChow.Api.csproj.CoreCompileInputs.cache
/LocalChow.Api/obj/Debug/netcoreapp3.1/LocalChow.Api.csproj.FileListAbsolute.txt
/LocalChow.Api/obj/Debug/netcoreapp3.1/LocalChow.Api.csprojAssemblyReference.cache
/LocalChow.Api/obj/Debug/netcoreapp3.1/LocalChow.Api.dll
/LocalChow.Api/obj/Debug/netcoreapp3.1/LocalChow.Api.pdb
/LocalChow.Entities/bin/Debug/netcoreapp3.1/LocalChow.Domain.dll
/LocalChow.Entities/bin/Debug/netcoreapp3.1/LocalChow.Domain.pdb
/LocalChow.Entities/obj/Debug/netcoreapp3.1/LocalChow.Domain.csproj.CoreCompileInputs.cache
/LocalChow.Entities/obj/Debug/netcoreapp3.1/LocalChow.Domain.csprojAssemblyReference.cache
/LocalChow.Entities/obj/Debug/netcoreapp3.1/LocalChow.Domain.dll
/LocalChow.Entities/obj/Debug/netcoreapp3.1/LocalChow.Domain.pdb
/LocalChow.Api/bin/Debug/netcoreapp3.1/AutoMapper.Extensions.Microsoft.DependencyInjection.dll
/LocalChow.Api/bin/Debug/netcoreapp3.1/AutoMapper.dll
/LocalChow.Api/bin/Debug/netcoreapp3.1/LocalChow.Api.deps.json
/LocalChow.Api/bin/Debug/netcoreapp3.1/LocalChow.Api.dll
/LocalChow.Api/bin/Debug/netcoreapp3.1/LocalChow.Api.pdb
/LocalChow.Api/bin/Debug/netcoreapp3.1/LocalChow.Domain.dll
/LocalChow.Api/bin/Debug/netcoreapp3.1/LocalChow.Domain.pdb
/LocalChow.Api/obj/Debug/netcoreapp3.1/LocalChow.Api.MvcApplicationPartsAssemblyInfo.cs
/LocalChow.Api/obj/Debug/netcoreapp3.1/LocalChow.Api.assets.cache
/LocalChow.Api/obj/Debug/netcoreapp3.1/LocalChow.Api.csproj.CoreCompileInputs.cache
/LocalChow.Api/obj/Debug/netcoreapp3.1/LocalChow.Api.csproj.FileListAbsolute.txt
/LocalChow.Api/obj/Debug/netcoreapp3.1/LocalChow.Api.csprojAssemblyReference.cache
/LocalChow.Api/obj/Debug/netcoreapp3.1/LocalChow.Api.dll
/LocalChow.Api/obj/Debug/netcoreapp3.1/LocalChow.Api.pdb
/LocalChow.Entities/bin/Debug/netcoreapp3.1/LocalChow.Domain.dll
/LocalChow.Entities/bin/Debug/netcoreapp3.1/LocalChow.Domain.pdb
/LocalChow.Entities/obj/Debug/netcoreapp3.1/LocalChow.Domain.csproj.CoreCompileInputs.cache
/LocalChow.Entities/obj/Debug/netcoreapp3.1/LocalChow.Domain.csprojAssemblyReference.cache
/LocalChow.Entities/obj/Debug/netcoreapp3.1/LocalChow.Domain.dll
/LocalChow.Entities/obj/Debug/netcoreapp3.1/LocalChow.Domain.pdb
/LocalChow.Api/bin/Debug/netcoreapp3.1/*
/LocalChow.Api/obj/project.nuget.cache
